@import "confirmationHint.css";

/* on (small) mobile displays */
@media (max-width: 700px) {
  body {
    /* for some reason there is a margin in Firefox for Android
       see https://bugzilla.mozilla.org/show_bug.cgi?id=1457696 */
    margin: 0px;
  }
}

html.center-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* if centered, use all the size you need, but do not exaggerate it */
html.center-picker em-emoji-picker {
  width: 100vw;
  max-width: 800px;
}

/* preventing scroll x/width overflowing (only when loaded to make popup adjust to size of emoji-mart) */
html.loaded em-emoji-picker {
  max-width: 100vw;
}

html.in-popup em-emoji-picker {
  --border-radius: 0px;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --border-radius: 0px;
    --color: var(--grey-10);
    --rgb-accent: 88, 166, 255;
    --background-color: var(--grey-60);
    --dark-background-color: var(--grey-90);
    --select-background-color: var(--grey-50);
    --input-color: rgba(var(--grey-50), .1);
    --light-shadow: rgba(var(--grey-50), .02);
  }

  /* darken sourroundings (edges), too */
  body {
    background-color: var(--grey-60);
  }
}

body * {
  /* unset text-align style set by browserStyle from Firefox that causes an issue, see https://github.com/missive/emoji-mart/issues/318 */
  text-align: unset;
}

/* prevent message tip to grow beyond with of emoji picker, rather grow height */
body {
  width: min-content;
}

body, .message-container, .message-box {
  box-sizing: border-box;
}
