@import "confirmationHint.css";

/* on (small) mobile displays */
@media (max-width: 700px) {
  body {
    /* for some reason there is a margin in Firefox for Android
       see https://bugzilla.mozilla.org/show_bug.cgi?id=1457696 */
    margin: 0px;
  }
}

html.center-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* dark mode */
:root {
  @media (prefers-color-scheme: dark) {
    --color: var(--grey-10);
    --rgb-accent: 88, 166, 255;
    --background-color: var(--grey-60);
    --dark-background-color: var(--grey-90);
    --select-background-color: var(--grey-50);
    --input-color: rgba(var(--grey-50), .1);
    --light-shadow: rgba(var(--grey-50), .02);
  }
}

body * {
  /* unset text-align style set by browserStyle from Firefox that causes an issue, see https://github.com/missive/emoji-mart/issues/318 */
  text-align: unset;
}

/* prevent message tip to grow beyond with of emoji picker, rather grow height */
body {
  width: min-content;
}

body, .message-container, .message-box {
  box-sizing: border-box;
}

/* Emoji Mart BiDi support */
em-emoji-picker .preview-emoji {
  __MSG_@@bidi_start_edge__: 12px;
  __MSG_@@bidi_end_edge__: initial;
}

em-emoji-picker .preview-data {
  __MSG_@@bidi_start_edge__: 68px;
  __MSG_@@bidi_end_edge__: 12px;
}

em-emoji-picker .title-label {
  margin-__MSG_@@bidi_end_edge__: 56px;
}

em-emoji-picker .preview-skins {
  __MSG_@@bidi_start_edge__: initial;
  __MSG_@@bidi_end_edge__: 30px;
}

em-emoji-picker .preview-skins.custom {
  __MSG_@@bidi_start_edge__: initial;
  __MSG_@@bidi_end_edge__: 10px;
}

em-emoji-picker .search-icon {
  __MSG_@@bidi_start_edge__: initial;
  __MSG_@@bidi_end_edge__: 11px;
}

em-emoji-picker .search input {
  padding-__MSG_@@bidi_start_edge__: 10px;
  padding-__MSG_@@bidi_end_edge__: 25px;
}
